* {
    font-size: 40px;
    font-family: Xenara;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
}

#calculator-base {
    background-color: #8693AB;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 640px;
    height: 768px;
}

#top-display {
    background-color: #51b451;
    border: 1px solid #637074;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    min-width: 512px;
    min-height: 136px;
    margin: auto;
    padding: 4px;
}

#button-display {
    margin: auto;
    padding: 18px;
}

button {
    border: 1px solid #212227;
    background-color: #BDD4E7;
    width: 152px;
    height: 100px;
    margin: 0px -12px -2px 0px;
}

#clear-button {
    background-color: #d52828;
    color: white;
}

#operator-button {
    background-color: #2262d6;
    color: white;
}

button:hover {
    background-color: #d1dfec;
}

#clear-button:hover {
    background-color: #f02e2e;
}

#operator-button:hover {
    background-color: #4280ef;
}

#credits, a {
    font-size: 16px;
    color: snow;
    margin-bottom: 8px;
}
